/* *{
    padding: 0;
    margin: 0;
  }
  
  html {
      height: 100%;
      width: 100%;
    }
   
  .container-fluid{
    margin-top: -10px;
    color: white;
  } 
  
  .container-fluid ul  {
    color: white;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 55px;
    background-color: aqua;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
  }
  
  .links {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  .links a {
    text-decoration: none;
    padding-left: 20px;
    color: white;
  }

  .footer_detail {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 20px 55px;
    align-items: center;
    margin-top: 20px;
  }

  .names {
    list-style: none;
  }
.Lovers{
  text-align: center;
  margin-top: 40px;

}
.images{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-center;
  align-items: center;
  margin-top: 20px;
  
}
 img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
 
}
.about{
  margin-top: 50px;
  text-align: justify;
}
.Welcom-page{
  font-size: 16px;
  padding: 20px;
  border: 1px solid gray; 
}
span{
  color: blueviolet;

}

.contact{
  padding: 50px 0;
}

.contact-section ul{
  list-style: none;
  font-size: 20px;
}

.contact-section h2{
  font-size: 30px;
  padding: 5px;
  padding-bottom: 20px;
}

.contact-section p{
  font-size: 20px;
}

.contact-section ul li{
  padding: 5px 0;
}

.contact-form-section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-form-section h2{
  font-size: 25px;
  padding: 10px 0;
}

.contact-form-section form{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form{
  padding: 5px 0;
}

button{
  padding: 5px;
  background-color: aqua;
} 